@define-color bar-bg rgba(52,15,50,0);
@define-color main-bg rgba(52,15,50,0.8);
@define-color main-fg rgba(240,170,236,0.8);
@define-color wb-act-bg rgba(237,184,203,0.4);
@define-color wb-act-fg rgba(255,204,222,1);
@define-color wb-hvr-bg rgba(75,80,125,0.4);
@define-color wb-hvr-fg rgba(240,170,178,0.8);
